name: Build + Run
on: [push]
jobs:
  Explore-GitHub-Actions:
    runs-on: ubuntu-latest
    container: zleba/rooteigen:latest
    steps:
      - name: Compile and Run
        uses: actions/checkout@v3
      - run: make
      - run: wget -q ${{ secrets.DataFileAddress }}   -O data/bucket28.root
      - run: ./runBS
